.logo {
  margin-right: 92px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  color: var(--logo-color);
}
.logo__span {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  color: var(--accent-color);
}
.page-header {
  border-bottom: 1px solid var(--primary-border-color);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}
.menu__item + .menu__item {
  margin-left: 50px;
}
.menu__link {
  display: block;
  position: relative;
  padding: 32px 0;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__link.current::after {
  content: '';
  display: block;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  position: absolute;
}

.current {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item {
  display: flex;
  align-items: center;
}
.contacts__item + .contacts__item {
  margin-left: 50px;
}
.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.link__icon-mail {
  margin-right: 10px;
  order: -1;

  fill: currentColor;
  transition: fill var(--transition);
}

.link__icon-smartphone {
  margin-right: 10px;
  order: -1;

  fill: currentColor;
  transition: fill var(--transition);

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color);
  }
}
